body {
  background-color: #86A3C3;
}

.App {
  text-align: center;
  background-color: white;
  width:500px;
  margin: 0 auto;
  padding: 10px 50px;
  height: 100vh;
}

.form-wrapper {
  width: 400px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label, input {
  width: 45%;
  text-align: left;
}

pre {
  width:100%;
}

/* input[type='checkbox'] {
  text-align:left;
  width: 10%;
} */
